@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
	margin: 0;
	padding: 0;
	border: 0;
    }

body {
	font-family: 'Montserrat', sans-serif;
	color:#191414;
    overflow-x: hidden;
 }


h2, h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align:center;
}

/* -----------------------------HOME------------------------------- */
/* ---------------------------------------- Header/Nav Bar  */

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #1DB954;
}

#logo	{
	float: left;
	font-size: 200%;
	margin-left: 20px;
    line-height: 40px;
}

.navbar {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .5)!important;
    
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;

}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: #1DB954;
}

.navbar-nav li a:hover,
.navbar-nav li a:active { 
    color: #fafafa!important;
    text-decoration: none;
}


#bg img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%; 
} 

/* ---------------------------------------- JUMBOTRON  */
#home {
    background-attachment: scroll;
    background-image: url('assets/images/keyboard.jpg');
    background-position: bottom;
    background-size: cover;
    height: 700px;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}


/* ---------------------------------------- Circle Infographic   */
.circle-infographic {
  width: 100%;
  position: bottom;
  margin: 78px;
  margin-top: 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.circle-animated {
  padding: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.circle-animated__tab {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  z-index: 5;
}

.circle-animated__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle-animated__rotate {
  -webkit-transform-origin: 0px 0px 0px;
      -ms-transform-origin: 0px 0px 0px;
          transform-origin: 0px 0px 0px;
  position: relative;
  z-index: 10;
  width: 375px;
  height: 374px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.circle-animated__icon {
  cursor: pointer;
  position: absolute;
}

.circle-animated__icon--top,
.circle-animated__icon--bottom {
  left: 50%;
}

.circle-animated__icon--top {
  top: -60px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.circle-animated__icon--bottom {
  bottom: -60px;
  -webkit-transform: translateX(-50%) rotate(-180deg);
      -ms-transform: translateX(-50%) rotate(-180deg);
          transform: translateX(-50%) rotate(-180deg);
}

.circle-animated__icon--right,
.circle-animated__icon--left {
  top: 50%;
}

.circle-animated__icon--right {
  right: -60px;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.circle-animated__icon--left {
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}


.circle-infographic__dialogs {
    position: relative;

}

.circle-infographic__dialog h3 {
  position: bottom;
  display: inline-block;
}

.circle-infographic__dialog h5:After {
  content: '';
  background-color: #1DB954;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.circle-infographic__controls {
		-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto 40px auto;
	max-width: 300px;
	width: 100%;
	z-index: 510;
	position: relative;
	display: flex;
	    align-items: center;
	    padding: 0 10px;
}

.circle-infographic__toggle {
    width: 30px;
	    margin-right: 15px;
	    margin-top: 6px;
}

.circle-infographic__toggle-icon {
	color: #1561CB;
	cursor: pointer;
    display: none;
}

.circle-infographic__toggle-icon--play {
	display: none;
}

.circle-infographic__slider {
	background-color: #F7F8FC;
	border: 2px solid #DDE9F2;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 15px;
	width: 100%;
    display: none; 
	position: relative;
}


.ui-slider-handle {
	background-color: #1461CB;
	border-radius: 5px;
	height: 26px;
	width: 26px;
  display: block;
  margin-left: -13px;
  margin-top: -8px;
  outline: none;
  position: absolute;
}

.color-orange {
    color: #1DB954!important;
}


/* -----------------------------DASHBOARD------------------------------- */

/* ---------------------------------------- Circle bar progress   */ 

.container{
  position: relative;
  width: 900px;
  display:flex;
  justify-content: space-around;
}

.container .card{
  position: relative;
  width: 250px;
  background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
  pointer-events: none;
  z-index: 1;
}

.percent{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow:inset 0 0 50px #000;
  background: #222;
  z-index:1000;
}

.percent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h3{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition: 0.5s;
}

.card:hover .percent .number h3{
  color: #fff;
  font-size: 60px;
}

.percent .number h3 span{
  font-size: 24px;
  color: #777;
  transition: 0.5s;

}

.card:hover .percent .number h3 span{
  color:#fff;
}

.text{
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight:700;
  font-size: 18px;
  letter-spacing:1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text{
  color:#fff;
}

/* -----------------------------REQUESTS------------------------------- */

#requests {
    background-attachment: scroll;
    background-image: url('assets/images/light.jpg');
    background-position: bottom;
    background-size: cover;
    display: inline-block;
    height: 700px;
    width: 100%;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
    padding-top: 150px;
}





/* ---------------------------------------- Footer  */

footer {
    border-color: transparent;
    text-align: center;
}

.reach-us {
	text-align: center;
    margin-bottom: 5px;
}

.reach-us li {
	display: inline;
}

.reach-us i {
	font-size: 200%;
	margin: 1%;
	padding: 5%;
	color: #1DB954;
}


/* ---------------------------------------- Media Queries  */
/*
@media screen and (max-width:943px) {
    #home {
        clear: left;
		float: left;
		margin-left: 30px;
		margin-bottom: 20px;
		line-height: 25px:
    }
}

@media screen and (max-width: 800px){
	.card {
		column-count: 1;
	} */

@media(min-width: 992px) {
    .request-section {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%
    }
}

/* Circle infographic */
@media (min-width: 440px) {
  .circle-infographic__controls {
    max-width: 420px;
  }
}

@media (min-width: 768px) {
  .circle-infographic__controls {
    left: 0;
    bottom: 0;
    position: absolute;
    margin-top: 0;
	margin-bottom: 0;
  }
}
/*
@media (max-width: 767px) {
  .circle-infographic__dialog p {
    padding: 0 20px;
  }
}
*/

@media (max-width: 767px) {
  .circle-infographic {
    text-align: center;
    padding-top: 30px;
    margin: inherit;
    margin-top: 20%!important;
  }
}

@media (min-width: 768px) {
  .circle-infographic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .circle-animated,
  .circle-infographic__right {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 767px) {
  .circle-animated {
    left: 50%;
    margin-left: -100vw;
    margin-top: -100px;
    -webkit-transform: scale(0.60);
        -ms-transform: scale(0.60);
            transform: scale(0.60);
  }
}

@media (max-width: 767px) {
  .circle-infographic__right {
    margin-top: -70px;
  }
}

@media (min-width: 768px) {
  .circle-infographic__right {
    position: relative;
  }
}

@media (max-width: 767px) {
  .circle-infographic__dialog {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .circle-infographic__dialog {
    position: relative;
    max-width: 420px;
  }
}

.circle-infographic__dialog {
  display: none;
}

@media (max-width: 767px) {
  .circle-infographic__dialog-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}



/* bootstrap */
@media (max-width: 767px)
.hidden-xs {
    display: none!important;
}

@media (max-width: 767px)
.visible-xs {
    display: block!important;
}

@media(min-width: 992px) {
    .request-section {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%
    }